.right-container {
    background-color: #694be2;
    padding: 20px;

    .header {
        padding: 10px 0;        // removed duplicate padding
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }

    .add-folder-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 10px;
    }

    .folder-container {
        border-bottom: 1px solid black;

        .header {
            display: flex;
            justify-content: space-between;

            .folder {
                display: flex;
            }

            .icons {
                display: flex;
                gap: 15px;

                .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    // padding: 1px;
                    cursor: pointer;
                }
            }
        }
    }
}
