.home-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: #000;
  overflow: hidden;

  .left-container {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    position: sticky;

    .item-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      max-width: 300px;
      text-align: center;
    // height: 100%;

      img {
        width: 140px;
        height: auto;
        object-fit: contain;
        filter: drop-shadow(0px 3px 6px rgba(255, 255, 255, 0.15));
      }

      h2 {
        font-size: 1.8rem;
        margin: 0;
        font-weight: 600;
      }

      h3 {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        opacity: 0.7;
        letter-spacing: 1px;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        cursor: pointer;
        height: 42px;
        width: 90%;
        border-radius: 10px;
        border: none;

        background: #ffffff;
        color: #000;
        font-size: 15px;
        font-weight: 500;

        transition: transform 0.2s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 4px 12px rgba(255, 255, 255, 0.25);
        }

        span.material-icons {
          font-size: 20px;
          color: #694be2;
        }
      }
    }
  }
}
